.player-container{
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    .time-control{
        display: flex;
        width: 40%;
        justify-content: center;
        align-items: center;

        input{
            width: 100%;
            margin: 1rem 2rem;
        }
        p{
            padding: 1rem;
            -webkit-user-select: none; /* Safari */        
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+/Edge */
            user-select: none; /* Standard */
        }

        
    }

    .play-control{
        display: flex;
        width: 30%;
        justify-content: space-around;
        align-items: center;

        svg{
            cursor: pointer;
        }
    }
}